# For Anthropic provider
ANTHROPIC_API_KEY=your-api-key-here

# For AI Core provider (see https://sap.github.io/ai-sdk/docs/js/langchain/openai)
# AICORE_SERVICE_KEY=...
# AICORE_RESOURCE_GROUP=default
